@page "/popcorn"
@using BlazorApp2.Models
@using BlazorApp2.Services
@using BlazorApp2.SvgComponents
@using BlazorApp2.Components
@using System.Timers;
@using System.Text.Json;

@implements IDisposable

@inject IJSRuntime JSRuntime

@*<PopUp Open="@PopUpOpen" ClosePopUp="ClosePopUp">
    <div>
        
    </div>
</PopUp>*@
<MovieDetails Open="@PopUpOpen" ClosePopUp="ClosePopUp" Movie="SelectedMovie" />
<div @ref="wrapRef">
    <PopcornSideBar GalleryMode="@movieReviewService.GalleryMode" SortChanged="HandleSortChanged" GenreChanged="HandleGenreChanged" Genres="@genres" TVgenres="@TVgenres" ActiveGenre="@movieReviewService.Genre" ActiveTvGenre="@movieReviewService.TvGenre" />
    <div class="Header">
        <div class="Header_icons_left">
            <div class="Header_icon_wrap @(movieReviewService.GalleryMode != 1 ? "Header_icon_wrap--selected" : "")" @onclick="@(() => ToggleGalleryMode(0))">
                <MovieIcon />
                <span>Movies</span>
                <div class="Header_icon_wrap_glow" style="opacity: @(movieReviewService.GalleryMode == 0 ? 1 : 0)"></div>
            </div>
            <div class="Header_icon_wrap @(movieReviewService.GalleryMode == 1 ? "Header_icon_wrap--selected" : "")" @onclick="@(() => ToggleGalleryMode(1))">
                <TvIcon />
                <span>Tv shows</span>
                <div class="Header_icon_wrap_glow" style="opacity: @(movieReviewService.GalleryMode == 1 ? 1 : 0)"></div>
            </div>
        </div>
        <img class="Header_logo" src="assets/popcornLogo.png" />
        <div class="Header_icons_right">
            <Search ResetFilter="ResetFilter" SearchQueryChanged="HandleSearchQueryChanged" SearchQuery="@movieReviewService.SearchString" />
            <HeartIcon FillColor="white" StrokeColor="white" ClassName="Popcorn_Nav_Icon" />
            <LocklOpenIcon ClassName="Popcorn_Nav_Icon" />
            <CogWheelIcon ClassName="Popcorn_Nav_Icon" />
            <InfoIcon ClassName="Popcorn_Nav_Icon" />
        </div>
    </div>
    <div class="Gallery" @ref="galleryRef">
        <Loading DisplayState="@((movies is null || genres is null || TVgenres is null))" />
        @if (movies != null && genres != null && TVgenres != null)
        {
            if (movies.Count == 0)
            {
                <div class="Gallery_none_found">
                    <p>No @(
                         movieReviewService.GalleryMode == 0 ? "movies" : "tv series"
                  ) found</p>
                    <button @onclick="ResetFilter" class="btn btn-primary btn-sm">Reset filters</button>
                </div>
            }
            else
            {
                @foreach (var movie in movies.Select((value, index) => new { Value = value, Index = index }))
                {
                    // check if the movie is new
                    bool isNewMovie = movie.Index >= moviesLoadedCount;

                    // Calculate delay for new movies
                    double NewMovieIndex = isNewMovie ? (movie.Index - moviesLoadedCount) : 0;

                    <div class="Gallery_item" @onclick="() => OpenPopUp(movie.Value)">
                        @if (movie.Value.ImageUrl is null)
                        {
                            <div class="Gallery_item_image" style="background-image: url(assets/posterPlaceHolder.png);">
                                <img src="assets/posterPlaceHolder.png" style="display: none;" onload="animateImageLoaded(this, @NewMovieIndex)">
                                <span>@movie.Value.Title</span>
                            </div>
                        }
                        else
                        {
                            <div class="Gallery_item_image" style="background-image: url(https://image.tmdb.org/t/p/w185/@movie.Value.ImageUrl);">
                                <img src="https://image.tmdb.org/t/p/w185/@movie.Value.ImageUrl" style="display: none;" onload="animateImageLoaded(this, @NewMovieIndex)">
                            </div>
                        }
                        <div class="Gallery_item_hover">
                            <div class="Gallery_item_hover_content">
                                <h5 class="Gallery_item_title">@movie.Value.Title</h5>

                                <span class="Gallery_item_year">
                                    <HeartIcon />
                                    @(
                                        movie.Value.Date.Split("-")[0]
                            )
                                </span>
                            </div>
                            <div class="Gallery_item_hover_rating">
                                <Rating RatingValue="@movie.Value.Rating" />
                            </div>
                        </div>
                    </div>
                }
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            }
        }
    </div>
</div>

<div style="height: 600px"></div>


@code {
    [CascadingParameter]
    public MainLayout Layout { get; set; }
    // Gets a reference to the MainLayout component
    private DotNetObjectReference<BlazorApp2.Pages.Popcorn>? dotNetHelper;

    public bool PopUpOpen = false;

    public MovieModel? SelectedMovie = null;

    List<MovieModel>? movies = null;
    List<GenreModel>? genres = null;
    List<GenreModel>? TVgenres = null;
    ElementReference wrapRef;

    int moviesLoadedCount = 0;
    int animationProgress = 0;

    private bool PageIsFilled;

    ElementReference galleryRef;

    //string FormatAnimationDelay(double delay) => $"{delay:0.##}".Replace(",", ".");

    private void OpenPopUp(MovieModel? movie)
    {
        SelectedMovie = movie;
        PopUpOpen = true;
    }

    async Task ClosePopUp()
    {
        PopUpOpen = false;
    }

    //private async Task animateImageLoaded(ElementReference imageElement)
    //{
    //    //await Task.Delay(1000);
    //    //await JSRuntime.InvokeVoidAsync("animateImageLoaded", imageElement);
    //}

    async Task HandleSearchQueryChanged(string query)
    {
        movieReviewService.SearchString = query;
        movieReviewService.AllMoviesLoaded = false;
        movieReviewService.LastPageLoaded = 0;
        movieReviewService.MovieList = new List<MovieModel>();
        moviesLoadedCount = 0;
        movies = null;
        await CheckGallerySize(true);
        // You can perform additional logic here if needed
    }

    public async Task ToggleGalleryMode(int ModeIndex)
    {
        if (movieReviewService.GalleryMode == ModeIndex)
        {
            return;
        }
        movieReviewService.GalleryMode = ModeIndex;
        //MovieReviewService.Sort = "popularity.desc";
        movieReviewService.AllMoviesLoaded = false;
        movieReviewService.LastPageLoaded = 0;
        movieReviewService.MovieList = new List<MovieModel>();
        moviesLoadedCount = 0;
        movies = null;
        await CheckGallerySize(true);
    }

    public async Task ResetFilter()
    {
        movieReviewService.SearchString = "";
        movieReviewService.AllMoviesLoaded = false;
        movies = null;
        await CheckGallerySize(true);
    }

    private Timer timer;

    protected override void OnInitialized()
    {
        timer = new Timer(150); // Set the interval to 600 milliseconds
        timer.AutoReset = false; // Ensures the timer only triggers once
        timer.Elapsed += Timer_Elapsed;
        Layout.Fullpage = true;
        Layout.Background = "black";
        Layout.Update();
    }

    private async Task HandleSortChanged(string Sort)
    {
        movieReviewService.Sort = Sort;

        movieReviewService.AllMoviesLoaded = false;
        movieReviewService.LastPageLoaded = 0;
        movieReviewService.MovieList = new List<MovieModel>();
        moviesLoadedCount = 0;
        movies = null;
        await CheckGallerySize(true);
    }

    private async Task HandleGenreChanged(int? Genre)
    {
        if (movieReviewService.GalleryMode == 0)
        {
            movieReviewService.Genre = Genre;
        } else
        {
            movieReviewService.TvGenre = Genre;
        }

        movieReviewService.AllMoviesLoaded = false;
        movieReviewService.LastPageLoaded = 0;
        movieReviewService.MovieList = new List<MovieModel>();
        moviesLoadedCount = 0;
        movies = null;
        await CheckGallerySize(true);
    }

    public void Dispose()
    {
        timer.Dispose(); // Clean up the timer
        Layout.Fullpage = false;
        Layout.Background = null;
        Layout.Update();
        JSRuntime.InvokeAsync<Task>("removeScrollEvent");
        JSRuntime.InvokeAsync<Task>("removeResizeEvent");
        movies = null;
        movieReviewService.MovieList = new List<MovieModel>();
        //dotNetHelper?.Dispose();
    }


    //protected override async Task OnInitializedAsync()
    //{
    //    movies = await MovieReviewService.GetMoviesYes();
    //}



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            dotNetHelper = DotNetObjectReference.Create(this);
            await JSRuntime.InvokeVoidAsync("Helpers.setDotNetHelper", dotNetHelper);
            genres = await movieReviewService.InitGenres();
            TVgenres = await movieReviewService.InitTvGenres();
            await JSRuntime.InvokeAsync<Task>("addScrollEvent");
            await JSRuntime.InvokeAsync<Task>("addResizeEvent");
            await CheckGallerySize();
        }
    }

    [JSInvokable]
    public async Task OnWindowScrolled()
    {
        await CheckGallerySize();
    }

    private bool isLoading = false;


    public async Task LoadMore(bool? needReset = null)
    {
        if (!isLoading)
        {
            if (movies != null)
                moviesLoadedCount = movies.Count;
            isLoading = true;
            movies = await movieReviewService.GetMoviesYes(needReset);
            isLoading = false;
            StateHasChanged();
        }
    }

    int lastGalmode = 0;
    private async void Timer_Elapsed(object sender, ElapsedEventArgs e)
    {
        // Reset the timer and call LoadMore using InvokeAsync to switch to UI thread
        await InvokeAsync(async () =>
        {
            timer.Stop();
            await LoadMore();
            if (!PageIsFilled && !movieReviewService.AllMoviesLoaded)
            {
                await CheckGallerySize();
            }
        });
    }

    private async Task CheckGallerySize(bool? needReset = null)
    {
        if (!wrapRef.Equals(default(ElementReference)))
        {
            if (isLoading)
                return;
            if (movies is null || needReset == true)
            {
                PageIsFilled = false;
            }
            var galleryHeightString = needReset == true ? 0 : await JSRuntime.InvokeAsync<int>("getHeight", wrapRef);

            var screenHeight = await JSRuntime.InvokeAsync<int>("getWindowHeight");
            var screenYOffset = await JSRuntime.InvokeAsync<int>("getWindowYOffset");

            Console.WriteLine(galleryHeightString.ToString(), screenHeight, screenYOffset);

            if (galleryHeightString < screenHeight + screenYOffset)
            {
                //await LoadMore(needReset);


                //Console.WriteLine("what=?");

                if (!timer.Enabled) // Check if the timer is not already running
                {
                    timer.Start(); // Start the timer
                }
            }
            else
            {
                PageIsFilled = true;
            }
        }
    }

    public MovieReviewService movieReviewService = new MovieReviewService();

    public class MovieReviewService
    {
        public string SearchString { get; set; } = "";
        public int? Genre { get; set; } = null;
        public int? TvGenre { get; set; } = null;
        public string Sort { get; set; } = "popularity.desc";
        public int LastPageLoaded { get; set; } = 0;
        public List<MovieModel> MovieList { get; set; } = new List<MovieModel>();
        public int GalleryMode { get; set; } = 0;
        public bool AllMoviesLoaded { get; set; } = false;
        public async Task<List<MovieModel>>? GetMoviesYes(bool? needReset = null)
        {
            if (needReset != null)
            {
                LastPageLoaded = 0;
                MovieList = new List<MovieModel>();
            }

            Console.WriteLine(Sort);

            int nextPage = LastPageLoaded + 1;
            string baseUrl = "https://api.themoviedb.org/3/";
            string url = "";

            string makeSortString()
            {
                string SortPreflix = "&sort_by=";
                if (GalleryMode == 0)
                {
                    if (Sort == "vote_average.desc")
                        return SortPreflix + Sort + "&vote_count.gte=100";
                    if (Sort == "primary_release_date.desc")
                        return SortPreflix + Sort + "&vote_count.gte=20";
                }
                else
                {
                    if (Sort == "vote_average.desc")
                        return SortPreflix + Sort + "&vote_count.gte=20";
                    if (Sort == "primary_release_date.desc")
                        return SortPreflix + "first_air_date.desc" + "&vote_count.gte=10";
                }
                return SortPreflix + Sort;
            }

            string makeGenreFilter()
            {
                string GenrePreflix = "&with_genres=";
                if (GalleryMode == 0)
                {
                    if (Genre is null)
                        return "";
                    return GenrePreflix + Genre;
                }
                else
                {
                    if (TvGenre is null)
                        return "";
                    return GenrePreflix + TvGenre;
                }
            }

            if (SearchString != "")
            {
                url = $"{baseUrl}search/{(GalleryMode == 0 ? "movie" : "tv")}?query={SearchString}&include_adult=false&language=en-US&page={nextPage}";
            }
            else if (GalleryMode == 0 && Genre != null || GalleryMode == 1 && TvGenre != null || Sort != "popularity.desc")
            {
                url = $"{baseUrl}discover/{(GalleryMode == 0 ? "movie" : "tv")}?include_adult=false&include_video=false&language=en-US&page={nextPage}{makeSortString()}{makeGenreFilter()}";
            }
            else
            {
                url = $"{baseUrl}{(GalleryMode == 0 ? "movie" : "tv")}/popular?language=en-US&page={nextPage}";
            }

            var client = new HttpClient();
            var request = new HttpRequestMessage
                {
                    Method = HttpMethod.Get,
                    RequestUri = new Uri(url),
                    Headers =
                {
                    { "Authorization", "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2MGYyOTA3NjJhMDEyZTI0MWM2YjQzYmZjZTA4NDI4ZiIsInN1YiI6IjY1ZDdkNDQ2ZmNlYzJlMDE4YTJkODBkZSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.gsSXfxawAAsdFpXnttCH1JPVXcgq5v_L_zi_rQ_7ORE" },
                    { "accept", "application/json" },
                },
                };
            using (var response = await client.SendAsync(request))
            {
                response.EnsureSuccessStatusCode();
                var body = await response.Content.ReadAsStringAsync();

                var apiResponse = JsonSerializer.Deserialize<MovieApiResponseModel>(body);

                List<MovieModel> Result = apiResponse?.Results?.Select(movie =>
                {
                    return new MovieModel
                        {
                            Id = movie.Id,
                            ImageUrl = movie.PosterPath,
                            backdropUrl = movie.BackdropPath,
                            Title = movie.Title ?? movie.NameTitle,
                            Date = movie.Date ?? movie.FirstAirDate,
                            Rating = movie.Rating,
                            Overview = movie.Overview,
                        };
                }).ToList() ?? new List<MovieModel>();

                if (Result.Count == 0)
                {
                    AllMoviesLoaded = Result.Count == 0;
                    return MovieList;
                }

                MovieList.AddRange(Result);
                LastPageLoaded++;
                return MovieList;
            }

        }
        public async Task<List<GenreModel>>? InitGenres()
        {
            var client = new HttpClient();
            var request = new HttpRequestMessage
                {
                    Method = HttpMethod.Get,
                    RequestUri = new Uri("https://api.themoviedb.org/3/genre/movie/list?language=en"),
                    Headers =
                {
                    { "Authorization", "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2MGYyOTA3NjJhMDEyZTI0MWM2YjQzYmZjZTA4NDI4ZiIsInN1YiI6IjY1ZDdkNDQ2ZmNlYzJlMDE4YTJkODBkZSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.gsSXfxawAAsdFpXnttCH1JPVXcgq5v_L_zi_rQ_7ORE" },
                    { "accept", "application/json" },
                },
                };
            using (var response = await client.SendAsync(request))
            {
                response.EnsureSuccessStatusCode();
                var body = await response.Content.ReadAsStringAsync();

                var apiResponse = JsonSerializer.Deserialize<GenreResponseModel>(body);

                List<GenreModel> Result = apiResponse?.Genres?.Select(movie =>
                {
                    return new GenreModel
                        {
                            Id = movie.Id,
                            Name = movie.Name,
                        };
                }).ToList() ?? new List<GenreModel>();

                //if (Result.Count == 0)
                //{
                //    return MovieList;
                //}

                //MovieList.AddRange(Result);
                //LastPageLoaded++;
                return Result;
            }
        }
        public async Task<List<GenreModel>>? InitTvGenres()
        {
            var client = new HttpClient();
            var request = new HttpRequestMessage
                {
                    Method = HttpMethod.Get,
                    RequestUri = new Uri("https://api.themoviedb.org/3/genre/tv/list?language=en"),
                    Headers =
                {
                    { "Authorization", "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2MGYyOTA3NjJhMDEyZTI0MWM2YjQzYmZjZTA4NDI4ZiIsInN1YiI6IjY1ZDdkNDQ2ZmNlYzJlMDE4YTJkODBkZSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.gsSXfxawAAsdFpXnttCH1JPVXcgq5v_L_zi_rQ_7ORE" },
                    { "accept", "application/json" },
                },
                };
            using (var response = await client.SendAsync(request))
            {
                response.EnsureSuccessStatusCode();
                var body = await response.Content.ReadAsStringAsync();

                var apiResponse = JsonSerializer.Deserialize<GenreResponseModel>(body);

                List<GenreModel> Result = apiResponse?.Genres?.Select(movie =>
                {
                    return new GenreModel
                        {
                            Id = movie.Id,
                            Name = movie.Name,
                        };
                }).ToList() ?? new List<GenreModel>();

                //if (Result.Count == 0)
                //{
                //    return MovieList;
                //}

                //MovieList.AddRange(Result);
                //LastPageLoaded++;
                return Result;
            }
        }

    }
}

